/* You can add global styles to this file, and also import other style files */
body {
  margin-top: 20px;
}

.chat-message {
  background-color: #983369;
  border-radius: 30px;
  padding: 3px 50px;
  margin-bottom: 3px;
  max-width: 80%;
  display: inline-block;
  word-wrap: break-word;
  font-size: 16px;
  color: white;   
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
